GEMINI_API_KEY=
VERITRAIL_PRIVATE_KEY=
VERITRAIL_PUBLIC_KEY=
# Neon DB Connection String
DATABASE_URL=postgresql://neondb_owner:password@ep-example-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
